
<section>
	<div id="title">Chat</div>
	<form action="" id="chat">
		<input type="text" id="username" placeholder="Username">
		<input type="text" id="message" placeholder="Message">
		<input type="submit" onclick="sendMessage()" value="Send">
		
</section>
